<style type="text/css">
td, th { padding: 4px; width: 30px; background: #bbb; }
td { text-align: right; }
</style>

<table>
<tr><th colspan="7">{{ month }} {{ year }}</th></tr>
<tr>{% for dayname in daynames %}<th>{{ dayname }}</th>{% endfor %}</tr>
{% for week in weeks %}
    <tr>
    {% for day in week %}
        <td>{{ day }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>