{% load randomizers %}
{% load inclusion_tags %}
{% load wikitags %}

<img src="{{ img_src }}" />

<!-- Use template tags -->
<img src="{% random_image 'img' %}" />
<img src="{% random_file 'img' 'jpg' %}" />

<!-- Use inclusion tags -->
{% calendar_table %}

<!-- Custom Filters -->
<h1>My Amazing Wiki Page: {{ title }}</h1>
<div class="wikicontent">
{{ content|wikify }}
</div>

<div>
{{ my_string|grep:"arguments" }}
</div>

<div>
{{ "Hello, Vietnam"|hide_if_shorter_than:"5" }}
</div>